h1.slogan {
  padding: 4px 10px;
  padding-left: 10px;
  font-size: 16px;
  text-align: center;
  color: #91beeb;
  font-family: 'Lemonada', cursive;
}


#aside {
  height: 90vh;
  background-color: #a1a1a1;
  border-right: 2px solid;
  border-color: #a1a1a1;
}

#asideLong {
  height: 200vh;
  background-color: #a1a1a1;
  border-right: 2px solid;
  border-color: #a1a1a1;
}

.CompanyName {
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
  font-family: 'Lemonada', cursive;
  color: #91beeb;
}

section.asideSection {
  font-size: 15px;
  margin-left: 0px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 10px;
  padding-bottom: 90px;
  text-indent: 20px;
}

#homeMain {
  height: 90vh;
  background: url(../Images/whiteforest1.jpg);\
  background-position: top right;
  background-size: 2200px 1300px;
  background-repeat: no-repeat;
}

h1.title {
  width: 711px;
  font-size: 60px;
  padding-top: 30px;
  padding-left: 10px;
  color: #91beeb;
  font-family: 'Lemonada', cursive;
}

#footer {
  bottom: 0;
  clear: left;
  color: #91beeb;
  background-color: #555555;
  font-size: 16px;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 7px;
  text-align: center;
}

#contactMain {
  height: 90vh;
  background: url(../Images/eerieForest1.jpg);\
  background-position: top right;
  background-size: 1600px 1300px;
  background-repeat: no-repeat;

}

form.contactForm {
  padding-left: 225px;
  padding-top: 60px;
}

legend {
  border: 0;
  padding-left: 15px;
  color: #91beeb;
}

td {
    background-color: white;
}

td.logoCell {
  background: url(../Images/whiteForest1.jpg);\
  background-position: top right;
  background-size: 400px 250px;
  background-repeat: no-repeat;
}

img.invertedLogo {
  padding-left: 95px;
  padding-right: 85px;
}

label {
  color: #91beeb;
  font-family: 'Lemonada', cursive;
  padding-left: 5px;
  width: 180px;
}

input {
  color: #a1a1a1;
  font-size: 16px;
  margin-right: 12px;
}

input.bottomButtons {
  margin-left: 120px;
  padding-left: 15px;
  margin-top: 20px;
  padding-right: 15px;
  background-color: #a1a1a1;
  color: white;
  font-family: 'Lemonada', cursive;
}

input.bottomButtons:hover {
  color: #91beeb;
}

.shoppingTitle {
  margin-right: 0;
  width: 400px;
  font-size: 60px;
  padding-top: 30px;
  padding-left: 10px;
  color: #91beeb;
  font-family: 'Lemonada', cursive;
}

.productImages {
  margin-left: 200px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.productDescriptions {
  margin-left: 200px;
  width: 275px;
}

.pageButton {
  color: #91beeb;
  background-color: #a1a1a1;
}
