@font-face {
    font-family: fatboySlim;
    href: "Fonts/fatboy_slim/fatboySlim.ttf";
}

aside.aside {
  border: 2px black;
}

.CompanyName {
    text-align: center;
    padding-top: 120px;
    font-size: 32px;
    font-family: fatboySlim;
}
